@media screen and (max-width: 1000px) {
.navbar-brand
{
    margin:1vw;
    font-size: 4vw;
}
.navbar-nav
{
    margin-left:2vw;
}
.nav
{
    color: whitesmoke;
    font-size: 2vw;
    margin: 1vw;
    padding: 1vw;
    text-decoration: none;
    
}
.nav:hover {
    color: whitesmoke;
}
.navbar li:hover
{
    background-color: #1c2826;
}
.navbar li{

    display: inline-block;
    padding: 1vw;
    margin-right: 0.9vw;
}
#home_menu
    {
        position: absolute;
        top: 90vh;
        display: grid;
        left: 20%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow-x: hidden;
        padding: 1.5vw;
        grid-gap: 2vw;
    }
    .home_list_breif h3
    {
        font-size: 80%;
    }
    .home_list_breif p  
    {
        font-size: 60%;
    }
    .material-icons
    {
        font-size: 300%;
        padding: 0.75vh;
    }
}